@model Shop_Apple_HNT.Models.SanPhamModel

<style>
    /* FIX CẮT CHỮ TAB MÔ TẢ */
    .shop-details-tab .tab-content {
        overflow: visible !important;
        height: auto !important;
        min-height: unset !important;
    }

    .shop-details-tab .tab-pane {
        overflow: visible !important;
        height: auto !important;
        padding: 15px;
    }

    .product-description {
        line-height: 1.8;
        font-size: 15px;
        white-space: normal !important;
        word-break: break-word;
    }

        .product-description img {
            max-width: 100%;
            height: auto;
        }

        .product-description p {
            margin-bottom: 10px;
        }
</style>

<div class="product-details">
    <div class="row">

        <!-- Hình ảnh -->
        <div class="col-sm-5">
            <div class="view-product">
                <img src="~/images/products/@Model.Hinh"
                     class="img-responsive"
                     alt="@Model.Ten" />
            </div>
        </div>

        <!-- Thông tin -->
        <div class="col-sm-7">
            <div class="product-information">
                <h2>@Model.Ten</h2>

                <span class="price">
                    @Model.Gia.ToString("#,##0 đ")
                </span>

                <div class="action" style="margin:15px 0">
                    <a class="btn btn-default add-to-cart"
                       asp-action="Add"
                       asp-controller="Home"
                       asp-route-id="@Model.Id">
                        <i class="fa fa-shopping-cart"></i>
                        Thêm vào giỏ hàng
                    </a>
                </div>

                <p><b>Trạng thái:</b> Còn hàng</p>
                <p><b>Thương hiệu:</b> @Model.Brand.Ten</p>
                <p><b>Danh mục:</b> @Model.DanhMuc.Ten</p>
            </div>
        </div>

    </div>
</div>

<!-- Mô tả -->
<div class="category-tab shop-details-tab">
    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#details" data-toggle="tab">
                        Mô tả sản phẩm
                    </a>
                </li>
            </ul>
        </div>

        <div class="col-sm-12">
            <div class="tab-content">
                <div class="tab-pane fade active in" id="details">
                    <div class="product-description">
                        @Html.Raw(Model.MoTa)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
